<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      สถานที่รับซื้อสินค้าเกษตร
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="openPopover($event)">
        <ion-icon name="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="location" mode="md" icon-left>
    <ion-segment-button value="pin">
      <ion-icon name="ios-map"></ion-icon>
      แผนที่
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-icon name="ios-list"></ion-icon>
      <span> รายละเอียด </span>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="location" no-padding>
    <div [style.display]="location == 'pin' ? 'block' : 'none'">
      <ion-card>
        <ion-card-header class="text-header">
          <ion-icon name="pin"></ion-icon> ตำแหน่งปัจจุบัน
          <ion-label class="text-addr" text-wrap>ที่อยู่ : {{ address }}</ion-label>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngSwitchCase="'list'">
      <ion-searchbar (ionInput)="searchItem($event)" placeholder="ค้นหาด้วยชื่อสถานที่หรือชื่อจังหวัด" clearInput>
      </ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let data of arr_data" text-wrap>
          <div item-start class="pin">
            <img *ngIf="data.category_name=='ตลาดข้าว'" src="../assets/imgs/pin_rice.png">
            <img *ngIf="data.category_name=='ตลาดผัก'" src="../assets/imgs/pin_vegetable.png">
            <img *ngIf="data.category_name=='ตลาดผลไม้'" src="../assets/imgs/pin_fruit.png">
            <img *ngIf="data.category_name=='ตลาดดอกไม้'" src="../assets/imgs/pin_flower.png">
            <img *ngIf="data.category_name=='ตลาดปศุสัตว์'" src="../assets/imgs/pin_livestock.png">
            <img *ngIf="data.category_name=='ตลาดพืชเศรษฐกิจ'" src="../assets/imgs/pin_agri.png">
            <img *ngIf="data.category_name=='ตลาดสัตว์น้ำ'" src="../assets/imgs/pin_aquatic.png">
          </div>
          <div>
            <p class="locat-name">{{ data.location_name }}</p>
            <p class="prov-name">จ.{{ data.province_name }}</p>
          </div>
          <div item-right>
            <button ion-button clear (click)="startExternalMap(data.coord_latitude, data.coord_longitude)">
              <ion-icon name="ios-navigate-outline" class="navigate"></ion-icon>
            </button>
          </div>
          <a class="dist">ระยะทาง {{ data.distance }} กม.</a>
        </ion-item>
      </ion-list>


    </div>

  </div>
  <div id="map" #map [hidden]="location!='pin'"></div>
</ion-content>